<a href="https://colab.research.google.com/github/sushprav/Sushmitha/blob/main/string_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x="data science"
y="machine learning"
z="edukron"

# Write a Python program that takes the strings "x", "y", and "z" and creates a new string that concatenates them in reverse order.

In [5]:
string=x[::-1]+"," +y[::-1]+","+z[::-1]
print(string)

ecneics atad,gninrael enihcam,norkude

# Write a Python program that takes the string "x" and returns a new string with every other character removed.

In [6]:
string=x[::2]
print(string)

dt cec

# Write a Python program that takes the string "y" and returns a new string with all the vowels replaced by asterisks.

In [7]:
def replace_vowels(string):
  vowels="aeiouAEIOU"
  new_string= string
  for vowel in vowels:
    new_string=new_string.replace(vowel,"*")
  return new_string
x="data science"
new_x=replace_vowels(x)
print(new_x)

d*t* sc**nc*

# Write a Python program that takes the string "z" and returns a new string with all the occurrences of "eduk" replaced by "edu".

In [9]:
def replace(string,oldsubstring,newsubstring):
  return string.replace(oldsubstring,newsubstring)
z="edukron"
a=replace(z,"eduk","edu")
print(a)

eduron

# Write a Python program that takes the strings "x", "y", and "z" and creates a new string that is the concatenation of the first letter of each string.

In [11]:
def concatenate(string1,string2,string3):
  return string1[0]+string2[0]+string3[0]
a=concatenate(x,y,z)
print(a)

dme

# Write a Python program that takes the strings "x", "y", and "z" and creates a new string that is the concatenation of the last letter of each string.

In [12]:
def concatenate(string1,string2,string3):
  return string1[-1]+string2[-1]+string3[-1]
a=concatenate(x,y,z)
print(a)

egn

# Write a Python program that takes the strings "x" and "y" and creates a new string that is the concatenation of the first three letters of "x" and the last three letters of "y".

In [43]:
def concatenate(string1,string2):
  return string1[:3]+string2[-3:]
a=concatenate(x,y)
print(a)

dating

# Write a Python program that takes the string "z" and returns a new string with all the characters in reverse order.

In [17]:
a=z[::-1]
print(a)

norkude

# Write a Python program that takes the strings "x", "y", and "z" and returns a new string with all the occurrences of "e" replaced by "3".

In [41]:
def replace(string,oldchar,newchar):
  return string.replace(oldchar,newchar)
  
x = "data science"
y = "machine learning"
z = "edukron"
a=replace(x,"e",'3')
b=replace(y,"e",'3')
c=replace(z,"e",'3')
add=a+";"+b+":"+c
print(add)

data sci3nc3;machin3 l3arning:3dukron

In [38]:
def replace_character(string, old_char, new_char):
    result = string.replace(old_char, new_char)
    return result

x = "data science"
y = "machine learning"
z = "edukron"

new_x = replace_character(x, 'e', '3')
new_y = replace_character(y, 'e', '3')
new_z = replace_character(z, 'e', '3')

print(new_x)
print(new_y)
print(new_z)

data sci3nc3
machin3 l3arning
3dukron

# Write a Python program that takes the strings "x", "y", and "z" and returns a new string with all the occurrences of "i" replaced by "1".

In [ ]:
aaazzz  ..

xxcn

In [42]:
def replace_character(string, old_char, new_char):
    result = string.replace(old_char, new_char)
    return result

x = "data science"
y = "machine learning"
z = "edukron"

new_x = replace_character(x, 'i', '1')
new_y = replace_character(y, 'i', '1')
new_z = replace_character(z, 'i', '1')

print(new_x)
print(new_y)
print(new_z)

data sc1ence
mach1ne learn1ng
edukron

# Write a Python program that takes the strings "x", "y", and "z" and creates a new string that is the concatenation of the first two letters of each string.

In [32]:
x="datascience"
y="machine learning"
z="edukron"
def concatenate(string1,string2,string3):
  return string1[:2]+string2[:2]+string3[:2]
a=concatenate(x,y,z)
print(a)

damaed

In [26]:
x="sushmitha"

In [31]:
x[:2]

'su'

# Write a Python program that takes the strings "x", "y", and "z" and creates a new string that is the concatenation of the last two letters of each string.

In [44]:
def concatenate(string1,string2,string3):
  return string1[-2:]+string2[-2:]+string3[-2:]
a=concatenate(x,y,z)
print(a)

cengon

# Write a Python program that takes the strings "x" and "y" and creates a new string that is the concatenation of the first three letters of "y" and the last three letters of "x".

In [45]:
def concatenate(string1,string2):
  return string1[:3]+string2[-3:]
a=concatenate(y,x)
print(a)

macnce

# Write a Python program that takes the string "z" and returns a new string with all the occurrences of "o" replaced by "0".

In [46]:
def replace_character(string, old_char, new_char):
    result = string.replace(old_char, new_char)
    return result


z = "edukron"


new_z = replace_character(z, 'o', '0')


print(new_z)

edukr0n

# Write a Python program that takes the strings "x", "y", and "z" and returns a new string that is the concatenation of the first letter of "x", the second letter of "y", and the third letter of "z".

In [47]:
def concatenate(string1,string2,string3):
  return string1[0]+string2[1]+string3[3]
a=concatenate(x,y,z)
print(a)

dak